html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Bouton Cast en haut à droite */
#castButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-image: url('https://cdn.discordapp.com/attachments/1299859288969445430/1299859382221144084/cast_icon_black.png?ex=671ebbe2&is=671d6a62&hm=db8fcd3ade3180649c34cae98981d7ffb596048b5544eb28e3c690539a66f9ec&');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 10;
}
