html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Empêche le défilement */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

video {
  width: 100vw; /* Ajuste la vidéo à la largeur de la fenêtre */
  height: 100vh; /* Ajuste la vidéo à la hauteur de la fenêtre */
  object-fit: cover; /* Assure que la vidéo remplit l’espace sans distorsion */
}
